<!-- eslint-disable vue/multi-word-component-names -->
<template lang="">
    <div class="navbar">
        <ul>
            <li v-if="isAuthenticated">
                Total todos: {{ todos.length }}
                <button class="logout-btn" @click="TOGGLE_AUTH">Logout</button>
            </li>

            <button class="login-btn" v-else @click="TOGGLE_AUTH">Login</button>
        </ul>
        <h1>Todo App</h1>
    </div>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';
export default {
    // eslint-disable-next-line vue/multi-word-component-names
    name: 'Navbar',
    computed: mapGetters(['isAuthenticated', 'todos']),
    methods: mapMutations(['TOGGLE_AUTH']),
};
</script>

<style lang="css">
.navbar {
    padding: 5px;
    text-align: center;
    background: rgb(240, 240, 240);
    color: black;
}

.navbar h1 {
    margin-left: 190px;
}

.navbar ul {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    float: right;
    list-style: none;
    padding: 5px;
    font-size: 18px;
    font-weight: 600;
}

.logout-btn {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    transition: 0.2s;
}
.logout-btn:hover,
.login-btn:hover {
    scale: 1.05;
}

.login-btn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    transition: 0.2s;
}
</style>
