<!-- eslint-disable vue/multi-word-component-names -->
<template lang="">
    <p v-if="isAuthenticated" class="progress-bar">Progress: {{ progress }}%</p>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    // eslint-disable-next-line vue/multi-word-component-names
    name: 'Progressbar',

    //---- Cách 1 ----
    // computed: {
    //     progress() {
    //         return Math.round(
    //             (this.$store.state.todos.filter(todo => todo.completed).length /
    //                 this.$store.state.todos.length) *
    //                 100
    //         );
    //     },
    //     isAuth(){
    //         return this.$store.getters.isAuth
    //     }
    // },

    //---- Cách 2 ----
    computed: mapGetters(['isAuthenticated', 'progress']) ,
};
</script>

<style lang="css">
.progress-bar {
    padding: 10px;
    text-align: center;
    background: rgb(65, 255, 81);
    color: black;
}
</style>
