<!-- eslint-disable vue/multi-word-component-names -->
<template lang="">
    <div class="status-bar" v-if="isAuthenticated">
        <h3>Done</h3>
        <ol v-if="doneTodos.length > 0">
            <li v-for="todo of doneTodos" :key="todo.id">{{ todo.name }}</li>
        </ol>
        <p v-else>No todo has been completed</p>
    </div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
    name: 'StatusBar',

    //---- Cách 1 ----
    // computed:{
    //     doneTodos(){
    //         return this.$store.getters.doneTodos
    //     },
    //     isAuth(){
    //         return this.$store.getters.isAuth
    //     }
    // }

    //---- Cách 2 ----
    computed: mapGetters(['doneTodos', 'isAuthenticated']),
};
</script>

<style lang="css">
.status-bar {
    padding: 5px;
    text-align: center;
    background: rgb(240, 240, 240);
    color: black;
    margin: 10px;
    border-radius: 10px;
}
/* .status-bar ol{
list-style-type: none;
} */
</style>
