<!-- eslint-disable vue/multi-word-component-names -->
<template lang="">
    <div class="todo-list">
        <TodoForm v-if="isAuthenticated" />
        <ul v-if="isAuthenticated">
            <li
                v-for="todo in reverseTodos"
                :key="todo.id"
                :class="todo.completed ? 'completed' : ''"
            >
                {{ todo.name }}
                <div class="todo-button">
                    <button @click="deleteTodo(todo.id)">Delete</button>

                    <input
                        type="checkbox"
                        :checked="todo.completed"
                        @change="MARK_COMPLETE(todo.id)"
                    />
                </div>
            </li>
        </ul>
        <p v-else style="text-align: center">Not authenticated</p>
    </div>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex';
import TodoForm from './TodoForm.vue';

export default {
    // eslint-disable-next-line vue/multi-word-component-names
    name: 'Todos',
    components: {
        TodoForm,
    },
    created() {
        this.getTodos();
    },

    computed: { ...mapGetters(['isAuthenticated', 'reverseTodos']) }, 

    methods: {
        ...mapMutations(['MARK_COMPLETE']),
        ...mapActions(['deleteTodo', 'getTodos']),

        //----Cách 2 ----
        // deleteTodo(todoId){
        //     this.$store.dispatch('deleteTodo', todoId)
        //}

    }, //các hàm mapState, mapActions đều trả về Object
};
</script>

<style lang="css">
.todo-list ul {
    padding: 10px;
    list-style-type: none;
}

.todo-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
   
    background: rgb(240, 240, 240);
    color: black;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}
.todo-list li:hover {
    scale: 1.01;
}
.todo-list li input[type='checkbox'] {
    transform: scale(2);
}

.todo-button {
    width: 20%;
    display: flex;
    justify-content: center;
}

.todo-list li.completed {
    background: rgb(70, 218, 255);
}

.todo-list li button {
    margin-right: 20px;
    border-radius: 4px;
    border: none;
    padding: 7px;
    background: red;
    color: white;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}

.todo-list li button:hover {
    cursor: pointer;
    opacity: 1;
    scale: 1.1;
}
</style>
