<!-- eslint-disable vue/multi-word-component-names -->
<template>
    <form class="todo-form">
        <input type="text" v-model="title" />
        <input type="submit" value=" Add " @click.prevent="onSubmit()"/>

        <!-- <select name="status" id="status-select">
            <option value="">Select status</option>
            <option value="1">new</option>
            <option value="2">Pending</option>
            <option value="3">Done</option>
        </select> -->
    </form>
</template>

<script>
import { mapActions } from 'vuex';
import { v4 as uuidv4 } from 'uuid';
export default {
    name: 'TodoForm',
    data() {
        return {
            title: '',

        };
    },
    methods: {...mapActions(['addTodo','getTodos']),// addTodo === this.$store.dispatch('addTodo')
        onSubmit() {
            this.addTodo({
                id: uuidv4() ,
                name: this.title
            })

            alert('New todo had been added!')
            this.title = '';

            this.getTodos();
        },
    },
};
</script>

<style lang="scss" scoped>
.todo-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
        margin: 5px;
        padding: 5px 20px;
        border: none;
        border-radius: 4px;
        padding: 10px 10px;
        font-size: 17px;
        &:first-child {
            box-sizing: border-box;
            transition: 0.2s;
        }
        &:first-child:focus {
            outline: none;
            scale: 1.05;
        }
        &:last-child {
            background-color: blue;
            color: white;
            font-weight: bold;
            transition: 0.3s;
        }
        &:last-child:hover {
            scale: 1.05;
        }
    }
}
</style>
